<!DOCTYPE html>
<html>
  <head>
    <title>Scoreboard</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'scoreboard', media: 'all' %>
    <%= javascript_pack_tag 'scoreboard' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
